.search-bookmark {
  max-width: 600px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  width: 400px;
}


.bookmark-item {
  border: 1px solid grey;
  width: 100%;
  margin-bottom: 10px;
  padding:20px;
}

.bookmark-title {
  display: inline-block
}

.bookmark-thoughts {
  font-size: 14px
}

.button-container {
  margin-left: 10px;
  display: inline-flex;
  gap:5px;
}

._tags span {
  margin-right: 4px;
}

.search-bookmark input {
  display: inline-block;
  margin-right: 20px;
}


.search-bookmark button {
  padding: 0 20px;
}

.bookmark-item-readmore {
  margin-left: 5px;
}

.summary__content {
  -moz-transition: max-height .5s;
  -ms-transition: max-height .5s;
  -o-transition: max-height .5s;
  -webkit-transition: max-height .5s;
  transition: max-height .5s;
  max-height: 200px;
  display: block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 30px;
  position: relative;
}

.summary__content.active {
  max-height: 800px;
}